@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url(rotina.css);
@import url(util.css);
@import url(capas.css);
@import url(triangulos.css);
@import url(curriculo.css);
@import url(sobre.css);
@import url(animation.css);

body {
    font-family: 'Young Serif', serif;
    background-image: linear-gradient(#084e00, #188200);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: scroll;
    overflow-block: hidden;

    background-size: cover;
    color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
}

li {
    text-align: center;
    margin: auto;
    margin-top: 200px;
    font-size: x-large;
    color: #ffffff;
}

.titulo-principal {
    font-family: 'Young Serif', serif;
    text-align: center;
    width: fit-content;

    margin: 20px auto 40px auto;
}

.titulo-principal ::selection {
    color: #ffffff;
    background-color: rgb(255, 255, 255);
}

#apres_sobre {
    width: min-content +50px;
}

#apresentacao {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    margin: 0 auto;

}

#apresentacao img {
    margin-right: 20%;
    border-radius: 8px;
}

#apresentacao p {
    font-size: 20px;
    margin: 0 50px;
}

#title-index {
    font-size: 90px;

}

#nome-title {
    font-family: 'Young Serif', serif;
    text-align: end;
    font-size: 28px;

    white-space: nowrap;
    overflow: hidden;
    width: 238px;
    animation: type 1s steps(60, end);
}

#nome-title:nth-child(2) {
    animation: type2 1.4s steps(60, end);
}

span {
    animation: blink 1s infinite;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;

}

nav p {
    margin: 25px 5px 20px 20px;
    font-size: 18px;
}

nav img {
    cursor: pointer;
    margin-top: 20px;
    width: auto;
    margin-right: 1em;
}

.icons-navbar {
    margin-left: 40%;
}

#git {
    border-radius: 20%;
}

header {
    position: sticky;
    top: 0;
}



.portfolios_antigos {
    display: flex;
    /* Para organizar os itens em linha */
    flex-direction: column;
    /* Para garantir que os itens fiquem em coluna */
    align-items: center;
    /* Alinha os itens ao início do contêiner (esquerda) */
    padding: 0;
    /* Remove o padding padrão */
    margin: 0;
    /* Remove a margem padrão */
    height: 100px;
    /* Defina uma altura para a div se necessário */
    text-align: center;
}

.portfolios_antigos li {
    list-style-type: none;
    /* Remove as bolinhas padrão dos itens da lista */
    margin: 0;
    /* Remove a margem padrão dos itens da lista */
}

.portfolios_antigos a {
    display: block;
    /* Faz com que os links ocupem toda a largura disponível */
    padding: 5px 0;
    /* Ajusta o espaçamento vertical dos links */
    text-decoration: none;
    /* Remove o sublinhado dos links */
    color: black;
    /* Define a cor do texto dos links, ajuste conforme necessário */
}